[Desktop Entry]
Type=Application
Name=Add MI Linux Installer Desktop Icon
Exec=sh -c 'sleep 3; add-calamares-desktop-icon'
StartupNotify=false
NoDisplay=true
X-KDE-autostart-phase=1
